body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-form {
  background-color: #fff;
  justify-content: center;
  position: fixed;
  top: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100vh; /* vh = viewport height */
  background-color: #f0f0f0; /* Warna latar belakang kotak */
  z-index: 999; /* Pastikan kotak berada di lapisan paling atas */
}
.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
}
.login-form input {
  width: 100%;
  left: 12px;
  right: 12px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-form button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 7px;
  width: 30%;
  margin-left: 20px;
  height: 150px;
  font-size: 50px;
}
.button:active {
  opacity: 0.5;
  transition: opacity 0.3s;
}
p.{
font-size: 10px;
color: blue;
}
.garis{
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Untuk menjajarkan konten secara horizontal juga */
  color: gray;
}
.create{
  width: 50%; /* Sesuaikan lebar sesuai kebutuhan */
  background-color: green;
  color: white;
  font-size: 50px;
  height: 60px;
  border-radius: 4px;
}
input[type="text"] {
border: 1px solid #ccc; /* Garis tepi awal */
width: 95%;
left: 12px;
right: 12px;
font-size: 50px;
height: 150px;
margin-bottom: 20px;
border-radius: 15px;
}

input[type="text"]:focus {
    border: 6px solid #4267b2; /* Garis tepi saat difokuskan */
    outline: none; /* Menghilangkan outline bawaan browser */
    font-size: 50px;
}    
.pic{
width: 400px;
height: 400px;
background-image: url(https://i.ibb.co.com/j46kxDH/Photoroom-20250116-051340.png);
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.tic{
width: 100px;
height: 100px;
background-image: url(https://i.ibb.co.com/BB7BfcK/Photoroom-20250115-235857.png);
  background-size: cover;
  background-position: center;
  }
.h2{
font-size: 50px;
color black;
text-align: left;
}
.p1{
font-size: 50px;
color black;
}
